<app-navbar-search></app-navbar-search>
<div>
  <h3 class="text">HỢP ĐỒNG</h3>
  <img src="../assets/Exterior_Green_Oasis_Pool_Furama_Danang_Vietnam.jpg" height="400" width="1263"/>
</div>

<div>
  <div class="col-lg-12" style="margin: 10px 0 auto">
    <h1 style="text-align: center" class="vc_custom_heading font-content">DANH SÁCH HỢP ĐỒNG</h1>
  </div>
  <div class="col-lg-6" style="margin: 0 auto; text-align: center">
    <i style="font-size: 18px">
      Người thành công luôn luôn tìm kiếm cơ hội để giúp đỡ người khác.
      Những người không thành công luôn hỏi "Tôi được lợi gì?".
    </i>
    <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div>
  </div>
</div>

<div align="center">
  <a routerLink="/contract/create" href="" class="btn btn-primary button-create-contract">Thêm mới hợp đồng</a>
</div>

<div class="container">
  <table class="gradient-custom">
    <thead>
    <tr style="text-align: center">
      <th>STT</th>
      <th>Số hợp đồng</th>
      <th>Khách hàng</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Tiền đặt cọc</th>
      <th>Tiền thanh toán</th>
      <th>Dịch vụ đi kèm</th>
    </tr>
    </thead>
    <tbody *ngFor="let contract of listContract, index as i">
    <tr style="text-align: center">
      <td>{{i + 1}}</td>
      <td>{{contract.codeContract}}</td>
      <td>{{contract.customerName}}</td>
      <td>{{contract.startDay}}</td>
      <td>{{contract.endDay}}</td>
      <td>{{contract.cost}}</td>
      <td>{{contract.total}}</td>
      <td>
        <a class="btn btn-primary button-option" href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-plus" viewBox="0 0 16 16">
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </a>
        <a href="" class="btn btn-primary button-option">
          Danh sách dịch vụ đi kèm
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="paging-customer">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trước</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Sau</a>
    </li>
  </ul>
</div>
