<div style="margin-top: 3px; top: -1px">
  <nav class="navbar navbar-expand-lg navbar-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active button-function" aria-current="page" routerLink="/" href="">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active button-function" aria-current="page" href="list.html">Loại phòng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active button-function" aria-current="page" href="../customer/list.html">Khách hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active button-function" aria-current="page" href="/customer">Sự kiện</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active button-function" aria-current="page" href="/customer">Giải trí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active button-function" aria-current="page" href="/customer">Điểm đến</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active button-function" aria-current="page" href="../contract/list.html">Hợp
              đồng</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3 class="text">LOẠI PHÒNG</h3>
    <img src="../assets/banner01.jpg" height="400" width="1285"/>
  </div>
</div>

<div>
  <div class="col-lg-12" style="margin: 10px 0 auto">
    <h2 style="text-align: center"
        class="vc_custom_heading font-content">CƠ SỞ VẬT CHẤT</h2>
  </div>
  <div class="col-lg-6" style="margin: 0 auto; text-align: center">
    <i style="font-size: 18px">
      Có nhiều những gói nghỉ dưỡng phù hợp cho cả những kỳ nghỉ ngắn hay dài ngày
    </i>
    <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div>
  </div>
</div>

<div>
    <a routerLink="contract/create" href="" class="btn btn-primary button-create-facility">Thêm mới dịch vụ</a>
</div>

<div class="container">
  <div class="vc_empty_space" style="height: 16px"><span class="vc_empty_space_inner"></span></div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem">
        <img src="../assets/Vietnam_Danang_Furama_Ocean-Deluxe-double-bed-F-370x239.jpg" width="120"
             height="170" class="card-img-top" alt="...">
        <div class="card-body">
          <b class="card-title">Phòng Suilt hướng biển</b>
          <p class="card-text">Diện tích phòng: 85.5m</p>
          <a routerLink="facility/edit" href="" class="btn btn-outline-primary">Sửa</a>
          <a href="#" class="btn btn-outline-primary button-delete" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Xóa</a>
        </div>
      </div>
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem;">
        <img src="../assets/card1.jpg" class="card-img-top" width="120" height="170" alt="...">
        <div class="card-body">
          <b class="card-title">Phòng Suilt hướng biển</b>
          <p class="card-text">Diện tích phòng: 85.5m</p>
          <a href="edit.html" class="btn btn-outline-primary">Sửa</a>
          <a href="#" class="btn btn-outline-primary button-delete" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Xóa</a>
        </div>
      </div>
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem;">
        <img src="../assets/card2.jpg" class="card-img-top" width="120" height="170" alt="...">
        <div class="card-body">
          <b class="card-title">Phòng Suilt hướng biển</b>
          <p class="card-text">Diện tích phòng: 85.5m</p>
          <a href="edit.html" class="btn btn-outline-primary">Sửa</a>
          <a href="#" class="btn btn-outline-primary button-delete" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Xóa</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem;">
        <img src="../assets/card3.jpg" class="card-img-top" width="120" height="170" alt="...">
        <div class="card-body">
          <b class="card-title">Phòng Suilt hướng biển</b>
          <p class="card-text">Diện tích phòng: 85.5m</p>
          <a href="edit.html" class="btn btn-outline-primary">Sửa</a>
          <a href="#" class="btn btn-outline-primary button-delete" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Xóa</a>
        </div>
      </div>
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem;">
        <img src="../assets/card4.jpg" class="card-img-top" width="120" height="170" alt="...">
        <div class="card-body">
          <b class="card-title">Phòng Suilt hướng biển</b>
          <p class="card-text">Diện tích phòng: 85.5msup2;</p>
          <a href="edit.html" class="btn btn-outline-primary">Sửa</a>
          <a href="#" class="btn btn-outline-primary button-delete" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Xóa</a>
        </div>
      </div>
      <div class="card card-content shadow mb-5 bg-body rounded " style="width: 16rem;">
        <img src="../assets/card5.jpg" class="card-img-top" width="120" height="170" alt="...">
        <div class="card-body">
          <b class="card-title">Phòng Suilt hướng biển</b>
          <p class="card-text">Diện tích phòng: 85.5m</p>
          <a href="edit.html" class="btn btn-outline-primary">Sửa</a>
          <a href="#" class="btn btn-outline-primary button-delete" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Xóa</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem;">
        <img src="../assets/card6.jpg" class="card-img-top" height="170" alt="...">
        <div class="card-body">
          <b class="card-title">Phòng Suilt hướng biển</b>
          <p class="card-text">Diện tích phòng: 85.5m</p>
          <a href="edit.html" class="btn btn-outline-primary">Sửa</a>
          <a href="#" class="btn btn-outline-primary button-delete" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Xóa</a>
        </div>
      </div>
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem;">
        <img src="../assets/card7.jpg" class="card-img-top" width="120" height="170" alt="...">
        <div class="card-body">
          <b class="card-title">Phòng Suilt hướng biển</b>
          <p class="card-text">Diện tích phòng: 85.5m</p>
          <a href="edit.html" class="btn btn-outline-primary">Sửa</a>
          <a href="#" class="btn btn-outline-primary button-delete" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Xóa</a>
        </div>
      </div>
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem;">
        <img src="../assets/card8.jpg" class="card-img-top" width="120" height="170" alt="...">
        <div class="card-body">
          <b class="card-title">Phòng Suilt hướng biển</b>
          <p class="card-text">Diện tích phòng: 85.5m</p>
          <a href="edit.html" class="btn btn-outline-primary">Sửa</a>
          <a href="#" class="btn btn-outline-primary  button-delete" data-bs-toggle="modal"
             data-bs-target="#exampleModal">Xóa</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div>
    <div class="col-lg-12" style="margin: 0 auto">
      <h2 style="text-align: center"
          class="vc_custom_heading font-content">DỊCH VỤ &amp; TIỆN NGHI</h2>
    </div>
    <div class="col-lg-6" style="margin: 0 auto; text-align: center">
      <i>
        Cho dù bạn đang tìm kiếm một kỳ nghỉ cuối tuần ngắn ngày hay một kỳ nghỉ dài hơn,
        chúng tôi cung cấp một loạt các gói dịch vụ sẽ đáp ứng cho tất cả mọi người.
      </i>
      <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div>
    </div>
  </div>
</div>

