<h1>Danh sách sản phẩm</h1>
<table class="table table-striped">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Xóa</td>
  </tr>
  <tr *ngFor="let product of product; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal" (click)="openFacility(product)">
        Xóa
      </button>
    </td>
  </tr>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chú ý!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class=".">
          <p style="font-size: 15px; font-weight: 600"> Bạn có muốn xóa {{nameProduct}}  không?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(idProduct)">Xóa</button>
      </div>
    </div>
  </div>
</div>
