nav {
  z-index: 10;
  height: 70px;
  background-color: deepskyblue;
}

ul li a {
  font-size: 17px;
  font-weight: 600;
  font-family: 'Noto Serif', serif;
}
.button-function {
  margin-left: 40px;
}

.button-function:hover {
  transform: scale(1.1);

}

