<div id="header-furama" class="container-fluid">

  <div id="img-logo">
    <img src="../../assets/logoCG.jpg" height="90" width="90"
         style="padding-top: 5px" alt="">
  </div>

  <div>
    <img src="../../assets/spanner.jpg" height="120" width="800"
         style="margin-left: 150px"/>
  </div>
</div>

<div style="margin-top: 3px; top: -1px">
  <nav class="navbar navbar-expand-lg navbar-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active button-function" style="color: white" aria-current="page" routerLink="/" href="">Trang
              chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active button-function" style="color: white" aria-current="page" routerLink="patient/list"
               href="">
              Bệnh án
            </a>
        </ul>
      </div>
    </div>
  </nav>
</div>
