<table border="5" cellpadding="12" style="text-align: center">
  <tr>
    <td colspan="5">
      <input type="text" disabled [value]="total">
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="number('1')">1</button>
    </td>
    <td>
      <button (click)="number('2')">2</button>
    </td>
    <td>
      <button (click)="number('3')">3</button>
    </td>
    <td>
      <button (click)="number('+')">+</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="number('4')">4</button>
    </td>
    <td>
      <button (click)="number('5')">5</button>
    </td>
    <td>
      <button (click)="number('6')">6</button>
    </td>
    <td>
      <button (click)="number('-')">-</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="number('7')">7</button>
    </td>
    <td>
      <button (click)="number('8')">8</button>
    </td>
    <td>
      <button (click)="number('9')">9</button>
    </td>
    <td>
      <button (click)="number('*')">*</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="number('0')">0</button>
    </td>
    <td>
      <button (click)="result()">=</button>
    </td>
    <td>
      <button (click)="clear()">AC</button>
    </td>
    <td>
      <button (click)="number('/')">/</button>
    </td>
  </tr>
</table>
