#footer-furama {
  position: sticky;
  background-color: rgba(129, 231, 232, 0.36);
  padding-top: 20px;
  height: 190px;
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: Playfair Display;
}

#footer-content {
  color: blue;
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
}

.on-top {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: deepskyblue;
  border-style: none;
  color: white;
  margin-left: 300px;
}

