<div class="row footer">
  <div class="col-4 right-footer">
    <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
    <p>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
           viewBox="0 0 16 16">
        <path
          d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      105 Nguyen Huu Tho Street, Ngu Hanh Son District,
      Da Nang City
    </p>
    <p>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-split"
           viewBox="0 0 16 16">
        <path
          d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h5zm1 3V8H2l-.75 1L2 10h6zm0-5h6l.75-1L14 3H8v2z"/>
      </svg>
      7,0 km from DaNang Airport.
    </p>
  </div>
  <div class="col-4 center-footer">
    <p style="font-size: 15px">CodeGym Da Nang &copy;</p>
  </div>
  <div class="col-4">
    <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
    <p>
      “I’d like to know
      If there’s a more effective
      Form of torture
      Than knowing everyday
      That you are whispering
      The same sweet nothings
      Into her ear as you did
      Mine…” -
      <b style="color: white">Đông đú đởn</b>
    </p>
  </div>
</div>
