<div class="container">
  <div class="vc_empty_space" style="height: 32px">
    <span class="vc_empty_space_inner"></span>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h2 class="font-content">
        KHU NGHỈ DƯỠNG ĐẲNG CẤP THẾ GIỚI, FURAMA ĐÀ NẴNG, NỔI TIẾNG LÀ KHU NGHỈ DƯỠNG ẨM THỰC TẠI VIỆT NAM.
      </h2>
    </div>
    <div class="col-lg-4">
      <img src="../assets/FURAMA 20 NAM.jpg" height="200" width="350"/>
    </div>
    <div class="col-lg-4" style="font-size: 13px">
      <b>
        Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama Resort Đà Nẵng là cửa ngõ đến với 3
        di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn (90 phút) và Huế (2 tiếng. 196 phòng hạng sang
        cùng với 70 căn biệt thự từ hai đến bốn phòng ngủ có hồ bơi riêng đều được trang trí trang nhã,
        theo phong cách thiết kế truyền thống của Việt Nam và kiến trúc thuộc địa của Pháp,
        biến Furama thành khu nghỉ dưỡng danh giá nhất tại Việt Nam – vinh dự được đón tiếp nhiều
        người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các nhà lãnh đạo kinh doanh quốc
        tế.
      </b>
    </div>
  </div>
</div>

<div class="body_center_2 container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="row ">
    <div class="col-lg-12" style="margin: 0 auto">
      <h2 style="text-align: center"
          class="vc_custom_heading font-content">TRẢI NGHIỆM, ẨM THỰC &amp; GIẢI TRÍ</h2>
    </div>
    <div class="col-lg-6" style="margin: 0 auto; text-align: center">
      <p>
        khu nghỉ dưỡng Furama Đà Nẵng là một khu nghỉ dưỡng 5 sao sang trọng, có uy tín
        và được xem là một trong những biểu tượng của ngành Du lịch Việt Nam.
      </p>
      <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div>
    </div>
  </div>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="z-index: -1">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="../assets/narba1.jpg"
             class="d-block w-100" width="300px" height="430px" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="../assets/Review-Furama-Resort-Da-Nang-13.jpg" class="d-block w-100"
             width="300px" height="430px" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="../assets/navbar2.jpg" class="d-block w-100"
             width="300px" height="430px" alt="...">
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
