<div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div>
    <div class="col-lg-12" style="margin: 0 auto">
      <h2 style="text-align: center"
          class="vc_custom_heading font-content">THÊM MỚI HỢP ĐỒNG</h2>
    </div>
  </div>
</div>

<div class="overlay">
  <form id="form-create" [formGroup]="formContract" (ngSubmit)="submitContract()">
    <div class="con">
      <div>
        <table>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Mã hợp đồng</td>
            <td>
              <input type="text" class="form-control" formControlName="codeContract">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td>
               <span style="color: red" *ngIf="formContract.controls.codeContract.hasError('required')
                  && formContract.touched">
                Thông tin trống
              </span>
            </td>
          </tr>
          <tr>
            <td>Tên khách hàng</td>
            <td>
              <select class="form-control" formControlName="customerName">
                <option [ngValue]="null" disabled selected style="text-align: center">--Chọn loại khách--</option>
                <option *ngFor="let item of listCustomer" [value]="item.name"
                        style="text-align: center">{{item.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Ngày bắt đầu</td>
            <td>
              <input class="form-control" type="date" formControlName="startDay">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Ngày kết thúc</td>
            <td>
              <input class="form-control" type="date" formControlName="endDay">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Tiền đặt cọc</td>
            <td>
              <input class="form-control" type="number" formControlName="cost">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td>
              <span style="color: red" *ngIf="formContract.controls.cost.hasError('required')
                  && formContract.touched">
                Thông tin trống
              </span>
              <span style="color: red"
                    *ngIf="formContract.controls.cost.hasError('pattern')
                    && formContract.touched">
               Phải nhập số dương
              </span>
            </td>
          </tr>
          <tr>
            <td>Tiền thanh toán</td>
            <td>
              <input class="form-control" type="number" formControlName="total">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td>
              <span style="color: red" *ngIf="formContract.controls.total.hasError('required')
                   && formContract.touched">
                Thông tin trống
              </span>
              <span style="color: red"
                    *ngIf="formContract.controls.total.hasError('pattern')
                    && formContract.touched">
               Phải nhập số dương
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <a class="btn btn-outline-primary button-option" routerLink="/contract/list" href=""
                 style="text-decoration: none; margin-top: 10px; margin-bottom: 20px">
                Quay lại
              </a>
            </td>
            <td>
              <button [disabled]="!formContract.valid" class="btn btn-success button-option"
                      style="margin-left: 70px; margin-top: 10px; margin-bottom: 20px" type="submit">
                Thêm mới
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>

