<app-navbar></app-navbar>
<div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div>
    <div class="col-lg-12" style="margin: 0 auto">
      <h2 style="text-align: center"
          class="vc_custom_heading font-content">CẬP NHẬT DỊCH VỤ</h2>
    </div>
  </div>
</div>

<div class="overlay">
  <form id="form-create" [formGroup]="editFacilityForm" (ngSubmit)="updateFacility(id)">
    <div class="con">
      <div>
        <table>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Dịch vụ</td>
            <td>
              <select class="form-control" name="" formControlName="facility" (change)="changeFacility($event.target.value)">
                <option [ngValue]="null" style="text-align: center" disabled selected>--- Chọn dịch vụ ---</option>
                <option *ngFor="let item of facilityTypeList" [value]="item.name" style="text-align: center" >{{item.name}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Tên dịch vụ</td>
            <td>
              <input class="form-control" type="text" formControlName="nameFacility">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Diện tích sử dụng</td>
            <td>
              <input class="form-control" type="number" formControlName="area">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Chi phí thuê</td>
            <td>
              <input class="form-control" type="number" formControlName="rentalCosts">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Số lượng người tối đa</td>
            <td>
              <input class="form-control" type="number" formControlName="maxPeople">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Kiểu thuê</td>
            <td>
              <select class="form-control" name="" id="" formControlName="rental">
                <option [ngValue]="null" style="text-align: center" disabled selected>--- Chọn kiểu thuê ---</option>
                <option value="year">Năm</option>
                <option value="month" >Tháng</option>
                <option value="day" >Ngày</option>
                <option value="hours">Giờ</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr *ngIf="temp == 'Villa' || temp == 'House'">
            <td>Tiêu chuẩn phòng</td>
            <td>
              <input class="form-control" type="text" formControlName="roomStandard">
            </td>
          </tr>
          <tr *ngIf="temp == 'Villa' || temp == 'House'">
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr *ngIf="temp == 'Villa' || temp == 'House'">
            <td>Tiện nghi khác</td>
            <td>
              <input class="form-control" type="text" formControlName="convenient">
            </td>
          </tr>
          <tr *ngIf="temp == 'Villa' || temp == 'House'">
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr *ngIf="temp == 'Villa'">
            <td>Diện tích hồ bơi</td>
            <td>
              <input class="form-control" type="number" formControlName="areaPool">
            </td>
          </tr>
          <tr *ngIf="temp == 'Villa'">
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr *ngIf="temp == 'Villa' || temp == 'House'">
            <td>Số tầng</td>
            <td>
              <input class="form-control" type="number" formControlName="numberFloor">
            </td>
          </tr>
          <tr *ngIf="temp == 'Villa' || temp == 'House'">
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr *ngIf="temp == 'Room'">
            <td>Dịch vụ miễn phí đi kèm</td>
            <td>
              <input class="form-control" type="text" formControlName="freeFacility">
            </td>
          </tr>
          <tr *ngIf="temp == 'Room'">
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Hình ảnh</td>
            <td>
              <select class="form-control" name="" formControlName="img">
                <option [ngValue]="null" style="text-align: center" disabled selected>--- Chọn hình ảnh ---</option>
                <option value="../assets/card1.jpg"> hình ảnh 1</option>
                <option value="../assets/card2.jpg"> hình ảnh 2</option>
                <option value="../assets/card3.jpg"> hình ảnh 3</option>
                <option value="../assets/card4.jpg"> hình ảnh 4</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <a class="btn btn-outline-primary button-option" routerLink="/facility/list" href="" style="text-decoration: none">
                Quay lại
              </a>
            </td>
            <td>
              <button class="btn btn-success button-option" style="margin-left: 70px" type="submit">
              Cập nhật
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>


