* {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: small;
}

#header-furama {
    width: 100%;
    height: 120px;
    background-color: rgba(129, 231, 232, 0.36);
}

#img-logo {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

#footer-furama {
    background-color: rgba(129, 231, 232, 0.36);
    margin-top: 5px;
    padding-top: 20px;
    height: 180px;
}

.button-function {
    margin-left: 50px;
}

.button-function {
    color: white;
}

.button-function:hover {
    color: royalblue;
}

.gun {
    border: 1px solid black;
}

.customer {
    background: #4facfe;

    background: -webkit-linear-gradient(to right, rgba(79, 172, 254, 0.5), rgba(0, 242, 254, 0.5));

    background: linear-gradient(to right, rgba(79, 172, 254, 0.5), rgba(0, 242, 254, 0.5))
}

.create {
    border: none;
    border-radius: 10px;
    background: greenyellow;
    margin-bottom: 5px;
}

.body_create {
    height: auto;
    width: 100%;
}

.message-error {
    font-family: "Arial Rounded MT Bold";
    color: red;
}

.details {
    font-size: 11px;
    position: relative;
}

/*#form-create {*/
/*    width: 400px;*/
/*    height: auto;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 3px 43px hsl(187deg 100% 61%);*/
/*    margin: 2% auto;*/
/*}*/

header {
    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

form .con {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 0 auto;
}

.con {
    border-radius: 15px;
    background-color: rgba(129, 231, 232, 0.36);
}
.field-set table tr td {
    font-family: "Bodoni MT Poster Compressed";
    font-size: 20px;
}

h5{
    font-family: Algerian;
}

nav{
    z-index: 10;
    height: 70px;
    background-color:deepskyblue;
}

ul li a {
    font-size: 15px;
}

.font-content {
    font-size: 24px;
    color: #cbbe73;
    line-height: 36px;
    font-family:Playfair Display;
    font-weight:700;
    font-style:normal;
}

#myBtn {
    display: none; /* Hidden by default */
    position: absolute; /* Fixed/sticky position */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: deepskyblue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 25px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    height: 50px;
    width: 50px;
    left: 320px;
    bottom: 120px;
}

#myBtn:hover {
    color: royalblue;
    background-color: white; /* Add a dark-grey background on hover */
}
