<app-navbar-search></app-navbar-search>
<div>
  <h3 class="text">LOẠI PHÒNG</h3>
  <img src="../assets/banner01.jpg" height="400" width="1263"/>
</div>
<div>
  <div class="col-lg-12" style="margin: 10px 0 auto">
    <h2 style="text-align: center"
        class="vc_custom_heading font-content">CƠ SỞ VẬT CHẤT</h2>
  </div>
  <div class="col-lg-6" style="margin: 0 auto; text-align: center">
    <i style="font-size: 17px">
      Có nhiều những gói nghỉ dưỡng phù hợp cho cả những kỳ nghỉ ngắn hay dài ngày
    </i>
    <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div>
  </div>
</div>

<div>
  <a routerLink="/facility/create" href="" class="btn btn-primary button-create-facility">Thêm mới dịch vụ</a>
</div>

<div class="container">
  <div class="vc_empty_space" style="height: 16px"><span class="vc_empty_space_inner"></span></div>
  <div class="row">
    <div class="col-lg-4" *ngFor="let item of listFacility, index as i">
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem">
        <img src="../assets/Vietnam_Danang_Furama_Ocean-Deluxe-double-bed-F-370x239.jpg" width="120"
             height="170" class="card-img-top" alt="...">
        <div class="card-body">
          <b class="card-title">{{item.nameFacility}}</b>
          <p class="card-text">Diện tích phòng: {{item.area}}m</p>
          <p class="card-text">Chi phí thuê: {{item.rentalCosts}} VND</p>
          <a routerLink="/facility/edit" href="" class="btn btn-outline-primary">Sửa</a>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-danger button-delete" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chú ý!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class=".">
          <p style="font-size: 15px; font-weight: 600"> Bạn có muốn xóa</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div>
    <div class="col-lg-12" style="margin: 0 auto">
      <h2 style="text-align: center"
          class="vc_custom_heading font-content">DỊCH VỤ &amp; TIỆN NGHI</h2>
    </div>
    <div class="col-lg-6" style="margin: 0 auto; text-align: center">
      <i>
        Cho dù bạn đang tìm kiếm một kỳ nghỉ cuối tuần ngắn ngày hay một kỳ nghỉ dài hơn,
        chúng tôi cung cấp một loạt các gói dịch vụ sẽ đáp ứng cho tất cả mọi người.
      </i>
      <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div>
    </div>
  </div>
</div>


