<div>
  <h3 class="text">LOẠI PHÒNG</h3>
  <img src="../assets/banner01.jpg" height="400" width="1263"/>
</div>
<div>
  <div class="col-lg-12" style="margin: 10px 0 auto">
    <h2 style="text-align: center"
        class="vc_custom_heading font-content">CƠ SỞ VẬT CHẤT</h2>
  </div>
  <div class="col-lg-6" style="margin: 0 auto; text-align: center">
    <i style="font-size: 17px">
      Có nhiều những gói nghỉ dưỡng phù hợp cho cả những kỳ nghỉ ngắn hay dài ngày
    </i>
    <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div>
  </div>
</div>

<div>
  <a routerLink="/facility/create" href="" class="btn btn-primary button-create-facility">Thêm mới dịch vụ</a>
</div>

<div class="container">
  <div class="vc_empty_space" style="height: 16px"><span class="vc_empty_space_inner"></span></div>
  <div class="row">
    <div class="col-lg-4" *ngFor="let item of listFacility| paginate: { itemsPerPage: 3, currentPage: p }, index as i">
      <div class="card card-content shadow mb-5 bg-body rounded" style="width: 16rem">
        <img [src]="item.img" width="120"
             height="170" class="card-img-top" alt="...">
        <div class="card-body">
          <b class="card-title">{{item.nameFacility}}</b>
          <p class="card-text">Diện tích phòng: {{item.area}}m</p>
          <p class="card-text">Chi phí thuê: {{item.rentalCosts}} VND</p>
          <a routerLink="/facility/edit" href="" class="btn btn-outline-primary" [routerLink]="['/facility/edit', item.id]">Sửa</a>
          <button type="button" class="btn btn-outline-success button-detail-delete" data-bs-toggle="modal"
                  data-bs-target="#viewModal" (click)="openFacility(item)">
            Chi tiết
          </button>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-danger button-detail-delete" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" (click)="openFacility(item)">
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="paging">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chú ý!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class=".">
          <p style="font-size: 15px; font-weight: 600"> Bạn có muốn xóa {{nameFacility}} không?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(idFacility)">Xóa</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="#viewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">Thông tin chi tiết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class=".">
          <table>
            <tr>
              <td>Loại dịch vụ: </td>
              <td>{{facilityTypeS}}</td>
            </tr>
            <tr>
              <td>Tên dịch vụ: </td>
              <td>{{nameFacility}}</td>
            </tr>
            <tr>
              <td>Giá: </td>
              <td>{{rentalCosts| currency:'':'symbol':'1.0'}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div>
    <div class="col-lg-12" style="margin: 0 auto">
      <h2 style="text-align: center"
          class="vc_custom_heading font-content">DỊCH VỤ &amp; TIỆN NGHI</h2>
    </div>
    <div class="col-lg-6" style="margin: 0 auto; text-align: center">
      <i>
        Cho dù bạn đang tìm kiếm một kỳ nghỉ cuối tuần ngắn ngày hay một kỳ nghỉ dài hơn,
        chúng tôi cung cấp một loạt các gói dịch vụ sẽ đáp ứng cho tất cả mọi người.
      </i>
      <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span></div>
    </div>
  </div>
</div>


