nav {
  z-index: 10;
  height: 70px;
  background-color: deepskyblue;
}

ul li a {
  font-size: 15px;
}

.button-function {
  margin-left: 40px;
}

.button-function:hover {
  transform: scale(1.1);
  color: white;
}

.font-content {
  font-size: 24px;
  color: #cbbe73;
  line-height: 36px;
  font-family: Playfair Display;
  font-weight: 700;
  font-style: normal;
}

#form-create {
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 3px 43px #3f969e;
  margin: 2% auto;
}

form .con {
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0 auto;
}

.con {
  border-radius: 15px;
  background-color: rgba(129, 231, 232, 0.36);
}

td {
  font-family: Playfair Display;
  color: #cbbe73;
  font-weight: 600;
  font-size: 15px;
}

.button-option {
  margin: 10px 20px 30px 40px;
}

.button-option:hover {
  color: blue;
  background-color: white;
  transform: scale(1.1);
}

