<app-navbar></app-navbar>
<div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div>
    <div class="col-lg-12" style="margin: 0 auto">
      <h2 style="text-align: center"
          class="vc_custom_heading font-content">THÊM MỚI KHÁCH HÀNG</h2>
    </div>
  </div>
</div>

<div class="overlay">
  <form id="form-create" [formGroup]="customerForm" (ngSubmit)="submit()" >
    <div class="con">
      <div>
        <table>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Id</td>
            <td>
              <input type="number" class="form-control" formControlName="id">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Tên khách hàng</td>
            <td>
              <input class="form-control" type="text" formControlName="name">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Ngày sinh</td>
            <td>
              <input class="form-control" type="date" formControlName="dayOfBirth">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Giới tính</td>
            <td>
              <select class="form-control" name="" formControlName="gender">
                <option [ngValue]="null" style="text-align: center" selected>-- Chọn giới tính --</option>
                <option style="text-align: center" [ngValue]="0">Nam</option>
                <option style="text-align: center" [ngValue]="1">Nữ</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Số CMND </td>
            <td>
              <input class="form-control" type="number" formControlName="idCard">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Số điện thoại</td>
            <td>
              <input class="form-control" type="number" formControlName="numberPhone">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>
              <input class="form-control" type="text" formControlName="email">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Địa chỉ</td>
            <td>
              <input class="form-control" type="text" formControlName="address">
            </td>
          </tr>
          <tr>
            <td>
              <div class="vc_empty_space" style="height: 25px">
                <span class="vc_empty_space_inner"></span>
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Loại khách</td>
            <td>
              <select class="form-control"  formControlName="typeCustomer">
                <option [ngValue]="null" selected style="text-align: center" >--Chọn loại khách--</option>
                <option *ngFor="let item of customerTypeList" [ngValue]="item" style="text-align: center" >{{item.nameType}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <a class="btn btn-outline-primary button-option" routerLink="/customer/list" href="" style="text-decoration: none; margin-top: 20px">
                Quay lại
              </a>
            </td>
            <td>
              <button class="btn btn-success button-option" style="margin-left: 70px; margin-top: 20px" type="submit">
                Thêm mới
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>

